body{
	padding:0;
	margin:0;
	background:#fff;
	position:relative;
	font-family: 'Nunito', sans-serif;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
	text-decoration:none;
}
input[type="button"],input[type="submit"],.contact-form input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
	font-family: 'Exo 2', sans-serif;
}	
p{
	margin:0;
	font-family: 'Nunito', sans-serif;
	letter-spacing:1px;
	color:#999;
	line-height:1.8em;
	font-size:1em;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*-- nav --*/
.main_section_agile {
    background: #4e0d06;
}
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
}
.navbar-right {
    margin-right: 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:#ffb71c;
    background:none;
}
.navbar-default .navbar-nav > .active > a:before{
	background: #ffb71c;
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-o-transform: translateX(0);
	-ms-transform: translateX(0);
}
.navbar-default .navbar-nav > li > a {
    font-weight: 700;
    letter-spacing: 1px;
}
.navbar-nav > li > a {
    margin: 0 1.5em;
    padding: 0 0 0.5em;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover{
    color:#ffb71c;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #ffb71c;
	outline:none;
}
nav.navbar.navbar-default {
    background: none;
	padding: 1.7em 0 0.2em 0;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #262c38;
    background: none;
}
.navbar-default .navbar-nav > li > a {
    color:#fff;
}
.navbar-default .navbar-nav  > .active.open > a:focus {
	background:transparent;
	color: #fff;
}
a.navbar-brand {
    color: #fff!important;
    padding: 0;
    font-size: 0.9em;
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
}
a.navbar-brand i{
	color:#ffb71c;
}
.navbar-right {
    float: left !important;
}
div#bs-example-navbar-collapse-1 {
    margin-top: .3em;
    padding-left: 4em;
}
.agile_short_dropdown {
    border-radius: 0;
    background: #ffffff;
    text-align: center;
	padding:0;
	border: none;
}
.agile_short_dropdown li a{
	text-transform:uppercase;
	color:#212121;
	font-size:13px;
	font-weight:600;
	padding: .8em 0;
	border-bottom: 1px solid #ececef;
}
.agile_short_dropdown > li > a:hover{
    color: #fff;
    text-decoration: none;
    background-color:#0ac876;
}
.effect-3 {
	overflow: hidden;
}
.effect-3:before {
	left: -1px;
	bottom: 0;
	width: 100%;
	height: 2px;
	background:#ffb71c;
	content: '';
    position: absolute;
    transition: transform .5s ease;
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
}
.effect-3:hover:before {
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-o-transform: translateX(0);
	-ms-transform: translateX(0);
}
.agileits_w3layouts_banner_nav {
    margin: 0 auto;
    width: 90%;
}
ul.agile_forms {
    float: right;
    padding-top: .5em;
}
ul.agile_forms li a {
    background:#ffb71c;
    color: #fff;
    font-size: 0.9em;
    padding: 8px 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
}
ul.agile_forms li a:hover{
	background: #fff;
	color:#000;
}
ul.agile_forms li{
	display:inline-block;
	list-style:none;	
}
/*-- bootstrap-pop-up --*/
.close {
    opacity: 1;
}
.modal-header {
	    border-bottom: none!important;
}
.modal-body p {
    color: #383535;
    text-align: left;
        padding: 2em 1em 1em;
    margin: 0 !important;
    line-height: 2em;
}
.modal-body p i {
    display: block;
    margin: 2em 0 0;
    color: #0ac876;
}
.modal-content {
    border-radius: 0;
}
.modal-body h5 {
    font-weight: 700;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    font-size: 1.4em;
    color: #262c38;
}
.w3l_about_bottom_left{
	padding:0;
	position:relative;
}
.w3l_about_bottom_left img{
	width:100%;
}
.play-icon{
    position: absolute;
    top: 51%;
    left: 46%;
}
.play-icon i {
    font-size:4em;
    color: #fff;
}
.play-icon:focus{
	outline:none;
}
.w3l_about_bottom_left_video{
	position: absolute;
    top: 37%;
    left: 36%;
}
.w3l_about_bottom_left_video h4,.w3l_about_bottom_left_video.book-text h4 {
    text-transform: uppercase;
    font-size: 1.7em;
    color: #fff;
    letter-spacing: 2px;
    padding: 0.4em 0em;
    width: 100%;
    text-align: center;
}
.w3l_about_bottom_left_video.book-text h4 {
	background: rgba(0, 0, 0, .5);
}
.w3l_about_bottom_right {
    padding: 6.5em 3.5em 10.6em;
    background: #f5f5f5;
}
.agileinfo_header1{
	font-size: 1.6em;
    color: #212121;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    padding: .5em 0;
    position: relative;
}
.w3l_about_bottom_right p{
	margin:1em 0 3em;
	color:#555;
	line-height:2em;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0px!important;
}
h3.tittle.why {
    text-align: left;
}
.w3layouts_header_right {
    float: right;
    position: relative;
    width: 18%;
    margin-left: .5em;
}
.header {
	padding: 0.6em 3em;
    background: #1d1d1d;
}
.w3layouts_header_right input[type="search"] {
    width: 70%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
    border: none;
    background: #fff;
    color: #999;
    padding: 8px 15px 8px 15px;
    font-size: 1em;
    float: left;
    letter-spacing: 1px;
}
.w3layouts_header_right input[type="submit"] {
    outline: none;
    border: none;
    background: #ffb71c url(../images/search.png)no-repeat 12px 5px;
    color: #fff;
    padding: 8px 0;
    width: 20%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
}
/*--model-about--*/
.agileits-main ul {
    float: left;
    width: 50%;
}
li.text {
    color: #000;
    text-align: left;
    letter-spacing: 1px;
    font-size: 1em;
    text-transform: capitalize;
    list-style: none;
}
li.agileits-main {
    list-style: none;
	position: relative;
}
li.agileits-main i {
    font-size: 1.2em;
    color: #fff;
    position: absolute;
    top: 31%;
    left: 4%;
}
.agile-submit {
    text-align: center;
}
.agile-submit input[type="submit"] {
    padding: .8em 4em;
    text-transform: uppercase;
    outline: none;
    border: none;
    margin:3em 0 0;
    font-size: 1em;
    letter-spacing: 1px;
    color: #fff;
    cursor: pointer;
    background: #ffb71c;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agile-submit input[type="submit"]:hover {
    background: #000;
    color: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.clo1 {
    margin-top:0px !important;
}
.header-w3l h2 {
    font-size: 2.8em;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}
.header-w3l h4 {
    font-size: 1.6em;
    color: #ffb71c;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding:1em 0 2.5em;
}
/*--//model-about--*/
.video-grid-single-page-agileits img {
    width: 100%;
}
#video,#video1,#video2,#video3,#video4,#video5,#video5,#video7,#video8  {
  position: relative;
  background: #000;
     width: 100%;
    margin:0px auto;
}

#video img,
#video iframe,#video1 img,
#video1 iframe
 { display: block;width:100%; }

#play {
    position: absolute;
       top:47%;
    left: 44%;
    width:64px;
    height:64px;
    cursor: pointer;
    background: url('../images/play-button.png') no-repeat 0px 0px;
    background-size: auto, cover;
    z-index: 9;
}
#play6 {
	 position: absolute;
       top: 30%;
    left: 44%;
    width:64px;
    height:64px;
    cursor: pointer;
    background: url('../images/play-button.png') no-repeat 0px 0px;
    background-size: auto, cover;
    z-index: 9;
}
.video_agile_player {
    padding: 0;
}
/*-- registration --*/
.signin-form {
	padding: 0em 1em 1em 1em;
    text-align: center;
}
.signin-form h3,h3.agileinfo_sign  {
       font-size: 1.5em;
    color: #212121;
    font-weight: 700;
    margin: 1em 0 0.8em 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h3.agileinfo_sign  {
	text-align:center;
}
.signin-form h3 span {
    color: #4e0d06;
}
.signin-form img {
    border-radius: 50%;
}
.login-form {
    margin: 1em 0 2.5em;
}
.signin-form input[type="email"], .signin-form input[type="text"], .signin-form input[type="password"], .signin-form textarea {
    width: 100%;
    padding: 1em;
    font-size: 0.8em;
    margin: 2em 0px;
    outline: none;
    color: #212121;
    border: none;
    border: 1px solid #ccc;
    letter-spacing: 1px;
    text-align: left;
}
.signin-form input[type="email"] {
    background: none;
    display: block;
}
.signin-form input[type="text"] {
    background: none;
    display: block;
}
.signin-form input[type="password"] {
     background: none;
    display: block;
}
.signin-form textarea {
	min-height:100px;
}
.signin-form input[type="submit"] {
    outline: none;
    padding: 0.8em 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
    border: none;
    color: #FFFFFF;
	text-transform:uppercase;
    cursor: pointer;
    background: #ffb71c;
    box-shadow: 0px 2px 1px rgba(28, 28, 29, 0.42);
}
.signin-form input[type="submit"]:hover {
    color: #fff;
    background: #000;
    transition: .5s all;
	-webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.signin-form p a {
    font-size: 0.875em;
    color: #212121;
    letter-spacing: 1px;
}
.login-social-grids{
    margin: 1em 0;
}
.login-social-grids ul {
    padding: 0;
    margin: 0;
}
.login-social-grids ul li {
    display: inline-block;
    margin: 0 .5em 0 0;
}
.login-social-grids ul li a {
    color: #FFFFFF;
    text-align: center;
}
.login-social-grids ul li a i.fa.fa-facebook, .login-social-grids ul li a i.fa.fa-twitter, .login-social-grids ul li a i.fa.fa-rss{
    height: 30px;
    width: 30px;
    border: solid 2px #212121;
    line-height: 29px;
    background: none;
    color: #212121;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.login-social-grids ul li a i.fa.fa-facebook:hover {
	border: solid 2px #4e0d06;
	background:#4e0d06;
    color: #FFFFFF;
}
.login-social-grids ul li a i.fa.fa-twitter:hover{
	border: solid 2px #4e0d06;
	background:#4e0d06;
	color: #FFFFFF;
}
.login-social-grids ul li a i.fa.fa-rss:hover{
	border: solid 2px #f26522;
	background:#f26522;
	color: #FFFFFF;
}
.modal-header .close{
	float:right!important;
}
.form-control:focus {
    border: 1px solid #ccc;
    outline: 0;
	box-shadow:none!important;
}
/*-- //registration --*/
/*--logins--*/
.login-main input[type="text"],.newsletter input[type="email"],.login-main input[type="email"] {
    font-size: 1em;
    color: #000;
    padding: 0.7em 0em;
    margin-bottom: 1em;
    display: inline-block;
    outline: none;
    border: none;
    border-bottom: 2px solid #000;
    font-family: 'Nunito', sans-serif;
	background: Transparent;
	width: 100%;
}
.login-main input[type="text"]{
	 width: 100%;
}
.newsletter input[type="email"]{
	width:77%;
}
.agileits-main input[type="text"], .agileits-main input[type="email"] {
    font-size: 1em;
    color: #fff;
    padding: .9em 1em .9em 2.5em;
    margin: 1em 0 2em;
    outline: none;
    border: none;
    background: #4e0d06;
    width: 100%;
}
.login-main input[type="password"] {
    font-size: 1em;
    color: #000;
    padding: 0.7em 0em;
    margin-bottom: 1em;
    width: 100%;
    display: inline-block;
    outline: none;
    border: none;
    border-bottom: 2px solid #000;
    font-family: 'Nunito', sans-serif;
	background: Transparent;
}
.login-main input[type="submit"] {
    font-size: 1em;
    color: #fff;
    background: #4e0d06;
    border: none;
    width: 82%;
    display: block;
    padding: 0.7em 1em;
    text-align: center;
    margin: 1.5em auto;
	border-radius: 20px;
    transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
    outline: none;
    cursor: pointer;
	text-transform: uppercase;
    letter-spacing: 1px;
}
.login-main input[type="submit"]:hover{
    background:rgba(0, 0, 0, 0.82);
    transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.login-main.wthree {
    width: 80%;
    margin: 3em auto;
}
/*--//logins--*/
/*-- //about-bottom --*/
/*-- about --*/
.about-top {
    padding: 5em 0 10em;
}
h3.w3l-title {
    font-size: 3.5em;
    color: #4e0d06;
    text-align: center;
    letter-spacing: 1px;
	position:relative;
}
.w3layouts_header p {
    font-size: 2em !important;
    color: #ffb71c;
    position: relative;
    margin: .5em 0 1em !important;
    text-align: center;
}
.w3layouts_header p:before, .w3layouts_header p:after {
    content: '';
    background: #676666;
    height: 2px;
    width: 5%;
    position: absolute;
    top: 46%;
}
.w3layouts_header p:before {
    left: 41%;
}
.w3layouts_header p:after {
    right: 41%;
}
.wthree-services-right {
    position: absolute;
    top: 21%;
    right: 51%;
}
.wthree-services-bottom-grids {
    position: relative;
}
.wthree-services-right {
    position: absolute;
    top: 15%;
    right: 9%;
}
.wthree-about-grids {
    padding: 7em 5em 0;
}
.wthree-about-grids h4 {
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 1em;
    color: #ffb71c;
}
a.trend-w3l {
    font-size: .9em;
    color: #fff;
    padding: 1.1em 2em;
    letter-spacing: 1px;
    background: #4e0d06;
    display: inline-block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
a.trend-w3l:hover {
    background: #000;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.modal-body img {
    width: 100%;
}
.modal-body p {
    margin: 2em 0;
}
.modal-header {
    border-bottom: none !important;
}
/*-- //Scocial-Icons --*/
/*-- //about --*/
/*-- Stats Section --*/
.stats {
	background: url(../images/BG1.jpg) no-repeat 0px 0px;
    padding: 100px 0;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
    background-attachment: fixed;
}
.stats-info {
	text-align: center;
}
.stats h4 {
    color: #fff;
    font-size: 26px;
    line-height: 1.4;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 600;
    background: #ffb71c;
    padding: .5em;
    border-right: 5px solid #fff;
    border-radius: 13px 0;
}
.stats-grid {
	font-size: 60px;
	font-weight: 400;
	color: white;
	margin-bottom: 10px;
}
h4.stats-info {
	margin-top: 20px;
}
/*-- //Sta/

*-- services --*/  
.services, .team-w3l, .contact{
	padding:5em 0;
}
.services-w3ls-row {
    text-align: center;
}
.services span.w3-sub {
    color: #fff;
}
.services-grid h5 {
    font-size: 2.2em;
    color: #111;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0px;
    position: absolute;
    top: 47%;
    left: 7%;
}
.services-grid.agileits-w3layouts h6 {
    font-size: 4em;
    color: #e2e2e2;
    font-weight: bold;
}
.services-grid.agileits-w3layouts {
    position: relative;
}
.services-grid h5:nth-child(2) {
    top: 5%;
    left: 13%;
}
.services-grid.agileits-w3layouts span {
    font-size: 4em;
    color: #ffb71c;
	margin-bottom: .8em;
}
span.grid-w3l-ser {
    margin: .8em 0 0 !important;
}
.services-grid.agileits-w3layouts p {
    margin-top: 1em;
}
/*-- //services --*/ 