html, body{
	font-family: 'Roboto', sans-serif;
    font-size: 100%;
  	overflow-x: hidden;
	background:#FFFFFF;
}


body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	background:#4e0d06!important;
}
a:focus, a:active, a:hover ,a.dropdown-toggle{
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #4e0d06;
	text-decoration:none;
}
a {
    background-color:none;
}
body p{
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5 {
    	font-family: 'Roboto', sans-serif;
}
a {
  color: #ffb71c;
  font-weight:400;
}
a:hover { transition: all 200ms ease-in-out; }

.page-container {
  min-width: 1260px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0px auto;
}
.left-content {
    float: right;
        width: 87%;
}
.page-container.sidebar-collapsed {
  transition: all 100ms linear;
  transition-delay: 300ms;

}
.page-container.sidebar-collapsed .left-content {

   float: right;
   width: 97%;
}
.page-container.sidebar-collapsed-back {
    transition: all 100ms linear;
}
.page-container.sidebar-collapsed-back .left-content {
  transition: all 100ms linear;
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
	float: right;
    width:87%;
}
.page-container.sidebar-collapsed .sidebar-menu {
  width: 65px;
  transition: all 100ms ease-in-out;
  transition-delay: 300ms;
}

.page-container.sidebar-collapsed-back .sidebar-menu {
  width: 230px;
  transition: all 100ms ease-in-out;
}

.page-container.sidebar-collapsed .sidebar-icon {
   transform: rotate(90deg);
   transition: all 300ms ease-in-out;
   margin-right: 0.8em;
       margin-top: -8px;
	   color: #fff;
    background: #ffb71c;
    border-radius: 0;

}

.page-container.sidebar-collapsed-back .sidebar-icon {
  transform: rotate(0deg);
  transition: all 300ms ease-in-out;
}

.page-container.sidebar-collapsed .logo {
  padding: 21px 0;
      height: 63px;
  box-sizing: border-box;
  transition: all 100ms ease-in-out;
  transition-delay: 300ms;
    
}

.page-container.sidebar-collapsed-back .logo {
  width: 100%;
      padding: 13px 14px;
  height:60px;
  box-sizing: border-box;
  transition: all 100ms ease-in-out;
}

.page-container.sidebar-collapsed #logo {
    opacity: 0;
    transition: all 200ms ease-in-out;
    display: none;
}
.page-container.sidebar-collapsed .down {
    display: none;
}
.page-container.sidebar-collapsed-back #logo {
  opacity: 1;
  transition: all 200ms ease-in-out;
  transition-delay: 300ms;;
}

.page-container.sidebar-collapsed #menu span {
  opacity: 0;
  transition: all 50ms linear;
}

.page-container.sidebar-collapsed-back #menu span {
  opacity: 1;
  transition: all 200ms linear;
  transition-delay: 300ms;
}

.sidebar-menu {
  position: fixed;
 float: left;
 width: 230px;
 top: 0;
 left: 0;
 bottom: 0;
 background-color: #4e0d06;
 color: #aaabae;
 box-shadow: 0px 0px 10px 0px rgb(58, 41, 31);
-o-box-shadow: 0px 0px 10px 0px rgb(58, 41, 31);
-webkit-box-shadow: 0px 0px 10px 0px rgb(58, 41, 31);
-moz-box-shadow: 0px 0px 10px 0px rgb(58, 41, 31);
z-index: 999;
}
#menu {
list-style: none;
margin: 0;
padding: 0;
margin-bottom: 20px;
}

#menu li {
position: relative;
margin: 0;
   border-bottom: 1px ridge #4e0d06;
 padding: 0;
padding: 0;
}

#menu li ul {
opacity: 0;
height: 0px;
}

#menu li a {
font-style: normal;
 font-weight: 400;
 position: relative;
 display: block;
 padding: 13px 20px;
 color: #fff;
 white-space: nowrap;
 z-index: 2;
 background-color: #4e0d06;
 font-size:0.9em;
 font-family: 'Roboto', sans-serif;
border:none;
   border-left: 4px solid #4e0d06 ;
}

#menu li a:hover {
color: #ffffff;
background-color:#4e0d06;
transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
border-left: 4px solid #ffb71c;
}

#menu li.active > a {
background-color: #2b303a;
color: #ffffff;
}

#menu ul li {background-color:#ffb71c; }

#menu ul {
list-style-type: none;
margin: 0;
padding: 0;
}

#menu li ul {
position: absolute;
visibility: hidden;
left: 100%;
top: -1px;
background-color: #2b303a;
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
opacity: 0;
transition: opacity 0.1s linear;
border-top: 1px solid rgba(69, 74, 84, 0.7);
}

#menu li:hover > ul {
visibility: visible;
opacity: 1;
}
li#menu-mensagens,li#menu-arquivos {
background-color:#ffb71c !important;
}
#menu li li ul {
right: 100%;
visibility: hidden;
top: -1px;
opacity: 0;
transition: opacity 0.1s linear;
}

#menu li li:hover ul {
visibility: visible;
opacity: 1;
}

#menu .fa { margin-right: 5px; }

.logo {
 width: 100%;
    padding: 14px 14px;
 box-sizing: border-box;
}

.sidebar-icon {
    margin-top: -2px;
 border: 1px solid #ffb71c;
 text-align: right;
 line-height: 1;
 font-size: 19px;
 padding: 8px 10px;
 border-radius: 0px;
 color: #fff;
 background: #ffb71c;
 float: right;
}
ul#menu i {
 font-size: 1.1em;
 margin-right: 6px;
   width: 10%;
}
ul#menu-academico-sub {
 z-index: 999;
}
li#menu-academico{
z-index: 999;
}

/*--- User Panel---*/
.profile_details_left {
  float: right;
     width: 25%;
}
.dropdown {
position: relative;
list-style: none;
}
.dropdown-menu2{
padding: 0;
position:absolute;
top: 133%;
left: 0;
z-index:1000;
display:none;
float:left;
min-width:250px;
margin:1px 0 0;
font-size:14px;
list-style:none;
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease-out;
-ms-transition: all 0.5s ease-out;
-o-transition: all 0.5s ease-out;
transition: all 0.5s ease-out;
background-color:#fff;
border:1px solid #ccc;
border:1px solid rgba(0,0,0,0.15);
-webkit-box-shadow: 0px 1px 5px rgba(184, 201, 241, 0.75);
-moz-box-shadow: 0px 1px 5px rgba(184, 201, 241, 0.75);
-o-box-shadow: 0px 1px 5px rgba(184, 201, 241, 0.75);
box-shadow: 0px 1px 5px rgba(184, 201, 241, 0.75);
background-clip:padding-box;
}
.export-nav{
margin:10px 0 0;
}
.open > .dropdown-menu2 {
opacity:1;
}
ul.dropdown-menu.two {
 padding: 0;
min-width: 234px;
top: 99%;
  left: -147px;
}
ul.dropdown-menu.two li a .badge {
background: #ff5454;
border: 2px solid white;
position: absolute;
top: 9px;
right: 3px;
font-size: 8px;
line-height: 8px;
padding: 4px 6px;
-webkit-border-radius: 50em;
-moz-border-radius: 50em;
border-radius: 50em;
min-width: 0;
}
.dropdown-menu2 {
opacity:.3;
-webkit-transform-origin: top;
transform-origin: top;
-ms-transform-origin: top;
-moz-transform-origin: top;
-o-transform-origin: top;
-webkit-animation-fill-mode: forwards;
-moz-animation-fill-mode: forwards; 
-o-animation-fill-mode: forwards; 
-mz-animation-fill-mode: forwards; 
animation-fill-mode: forwards; 
-webkit-transform: scale(1, 0);
-moz-transform: scale(1, 0);
-o-transform: scale(1, 0);
-ms-transform: scale(1, 0);
transform: scale(1, 0);
display: block; 
transition: all 0.2s linear;
-webkit-transition: all 0.2s linear;
-ms-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
}
ul#menu-mensagens-sub,li#menu-mensagens-enviadas{
z-index:9999;

}
li#menu-mensagens-enviadas,li#menu-mensagens,li#menu-academico-avaliacoes,li#menu-mensagens-recebidas,li#menu-academico-boletim{
background-color: #4e0d06;
border-bottom: 1px ridge #4e0d06;
z-index:9999;
}
.dropdown-menu2 li{
margin-left:0;
float:none;
width: 100%;
}

.dropdown-menu2 li a{
border-radius:0;
-webkit-border-radius:0;
-moz-border-radius:0;
-o-border-radius:0;
border:none;
border-bottom:1px solid #E4E4E4;
}
.dropdown-menu2 li a:hover {
border:none;
border-bottom:1px solid #E4E4E4;
}
.dropdown-menu2 li.odd{
background:rgba(0, 0, 0, 0.02);
}
li.dropdown.note {
background: #ffb71c;
border-left: 1px solid #ffb71c;
display: inline-block;
float: left;
cursor: pointer;
}
li.dropdown.note a {
padding: 1.4em 2em;
display: block;
}
li.dropdown.note:hover {
background:#ffb71c;
}
ul.nofitications-dropdown {
padding: 0;
margin: 0;
}
li.dropdown.head-dpdn:nth-child(2) {

}
li.dropdown.head-dpdn:nth-child(3) {
border:none;
}
.notification_header{
background-color:#FAFAFA;
padding: 10px 15px;
border-bottom:1px solid rgba(0, 0, 0, 0.05);
}
li.dropdown.note i{
font-size:1.2em;
color:#fff;
}
.notification_header h3{	
color:#37474f;
font-size: 12px;
font-weight: 600;
margin: 5px 0 0 0;
text-transform: uppercase;
}
.notification_bottom{
padding:12px 0;
text-align: center;
background-color: #f3f7f9;
}
.notification_bottom a {
color: #ffb71c;
}
.notification_bottom a {
color:#F44336;
}
.notification_bottom a:hover {
color:#999;
}
.notification_bottom h3 a{	
color: #717171;
font-size:12px;
border-radius:0;
border:none;
padding:0;
text-align:center;
}
.notification_bottom h3 a:hover{	
color:#4A4A4A;
text-decoration:underline;
background:none;
}
.user_img{
float:left;
width:15%;
}
.user_img img{
max-width:100%;
display:block;
border-radius:2em;
-webkit-border-radius:2em;
-moz-border-radius:2em;
-o-border-radius:2em;
}
.notification_desc{
float:left;
width:80%;
margin-left:5%;
}
.notification_desc p{
color:#757575;
font-size:13px;
padding:2px 0;
}
.wrapper-dropdown-2 .dropdown li a:hover .notification_desc p{
color:#424242;
}
.notification_desc p span{
color: #bbb!important;
font-size: 11px;
}
.candile {
margin-top: 2em;
}

/*** Profile Details **/
.profile_picture{
	text-align:center;
}
.profile_picture a{
	display:block;
}
.profile_picture > a {
	display: block;
	margin:0 auto;
    border-radius:8em;
    -webkit-border-radius:8em;
    -moz-border-radius:8em;
    -o-border-radius:8em;
    width:100px;
    height:100px;
}
.profile_picture_name{
	padding-top:20px;
}
.profile_picture_name h2{
	margin-bottom:5px;
	font-size:20px;
	color: #535351;
	font-weight:600;
}
.profile_picture_name p{
	font-size:12px;
	color: #BCBCBC;
	line-height: 1.6em;
}
.articles_list li {
	display:block;
	padding:15px 0;
	border-bottom:1px solid #F8F8F8;
}
.articles_list li a{
	display:block;
	color:#909090;
	font-size:12px;
	text-align:left;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	cursor:pointer;
}
.articles_list li a:hover{
	color:#65CEA7;
}
.articles_list li a i{
	display:inline-block;
	margin-right:8px;
	font-size:20px;
	vertical-align:top;
}
.articles_list li a i span{
	font-size:25px;
	color:#FFF;
}

/*--/sign-in--*/
.login input[type="text"],.login input[type="password"]{
	width: 100%;
	padding: 0.9em 1em 0.9em 4em;
	color: #777;
	font-size: 15px;
	outline: none;
	font-weight: 400;
	border: 1px solid #ddd;
	background: url("../images/icons.png") no-repeat 14px 17px;
	margin: 0.3em 0;
	font-family: 'Roboto', sans-serif;
	}
  .login input[type="password"]{
	 background: url("../images/icons.png") no-repeat 13px -33px ;
  
	}
  .submit {
	margin: 1em 0;
	}
  .login input[type="submit"]{
	   font-size: 20px;
	font-weight: 400;
	color: #fff;
	cursor: pointer;
	outline: none;
	padding: 10px 15px;
	width: 100%;
	border:2px solid #ea4c89;
	background: #ea4c89;
	margin: 0;
		font-family: 'Roboto', sans-serif;
		  transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
  }
  .login input[type="submit"]:hover{
	background:none;
	border:2px solid #ea4c89;
	color: #ea4c89;
  
  }
  
  .buttons {
	margin: 1em 0 0em 0;
  }
  .buttons ul{
   padding:0;
  }
  .buttons ul li {
	display: inline-block;
	width: 38%;
	margin-right: 8%;
	float: left;
  }
  .buttons ul li.or{
	width: 3%;
	margin-top: 8px;
	color: #777;
  }
  .buttons ul li.lost {
	margin-right: 0;
	float: right;
  }

  
/*--forms--*/
.graph-form{
  padding:2em 2em;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -o-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  border: 1px solid #E7E7E8;
}
.form-control {
  display: block;
  width: 100%;
  height: 37px;
  padding: 14px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #777;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #FFFFFF;
  outline: 0;
      box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 3px #ffb71c;
  -o-box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 3px #ffb71c;
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 3px #ffb71c;
  -moz-box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 3px #ffb71c;
}	
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 1em;
  color: #777;
}
button.btn.btn-default {
  background: #ffb71c;
  color: #fff;
  font-size: 1em;
outline:none;
border:none;
}
.graph-2.general {
  width: 100%;
}
.forms-main {
  margin-bottom: 2em;
}
.form-group1 input[type="text"], .form-group1 textarea, .form-group1 input[type="password"], .form-group1 input[type="date"] {
  border: 1px solid #E9E9E9;
  font-size: 0.9em;
  width: 100%;
  outline: none;
      padding: 0.7em 1em;
  color: #999;
  margin-top: 0.5em;
      font-family: 'Roboto', sans-serif;
}
button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.form-group2 select {
  width: 100%;
  border: 1px solid #E9E9E9;
  font-size: 0.9em;
  width: 100%;
  outline: none;
  padding: 0.5em 1em;
  color: #999;
  margin-top: 0.5em;
   font-family: 'Roboto', sans-serif;
}
.form-group1 textarea {
  min-height: 100px;
}
label.control-label {
  margin-top: 10px;
}
.form-group.button-2 {
  margin-top: 1em;
}
.btn-primary {
  color: #fff;
   background-color: #4e0d06;
  border-color: #4e0d06;
outline: none;
}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: #fff;
  background-color:#ffb71c;
  border-color:#ffb71c;
  outline: none;
}
label.check {
  padding: 10px 0 0 0;
}
p.hint-block.check {
  padding: 10px 0 0 0;
  color: #777;
}
input.form-control1.icon {
  padding: 7px 2px;
  margin: 0;
}
.input-group-addon:first-child {
  border-right: 0;
  border-radius: 0;
}
.input-group-addon:last-child {
  border-left: 0;
  border-radius: 0;
}
/*--//forms--*/