html, body{
	font-family: 'Roboto', sans-serif;
    font-size: 100%;
  	overflow-x: hidden;
	background:#FFFFFF;
}


/*--/sign-in--*/
.login input[type="text"],.login input[type="password"]{
	width: 100%;
	padding: 0.9em 1em 0.9em 4em;
	color: #777;
	font-size: 15px;
	outline: none;
	font-weight: 400;
	border: 1px solid #ddd;
	background: url("../images/icons.png") no-repeat 14px 17px;
	margin: 0.3em 0;
	font-family: 'Roboto', sans-serif;
	}
  .login input[type="password"]{
	 background: url("../images/icons.png") no-repeat 13px -33px ;
  
	}
  .submit {
	margin: 1em 0;
	}
  .login input[type="submit"]{
	   font-size: 20px;
	font-weight: 400;
	color: #fff;
	cursor: pointer;
	outline: none;
	padding: 10px 15px;
	width: 100%;
	border:2px solid #ea4c89;
	background: #ea4c89;
	margin: 0;
		font-family: 'Roboto', sans-serif;
		  transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
  }
  .login input[type="submit"]:hover{
	background:none;
	border:2px solid #ea4c89;
	color: #ea4c89;
  
  }
  
  .buttons {
	margin: 1em 0 0em 0;
  }
  .buttons ul{
   padding:0;
  }
  .buttons ul li {
	display: inline-block;
	width: 38%;
	margin-right: 8%;
	float: left;
  }
  .buttons ul li.or{
	width: 3%;
	margin-top: 8px;
	color: #777;
  }
  .buttons ul li.lost {
	margin-right: 0;
	float: right;
  }