.fb_icons2  li{
	list-style-type:none;
	display:inline-block;
	margin:0 2px;
	overflow:hidden;
}
.fb_icons2 li a{
    width: 32px;
    height: 32px;
    display: inline-block;
    border: 1px solid #ffb71c;
	line-height: 2;
    color: #fff;
}
.fb_icons2 li a:hover{
	transform:rotateZ(360deg);
	border-radius:100%;
}
team-w3l-grid.grid-2-team {
    margin-top: 4em;
}
.team-w3l {
	background:-webkit-linear-gradient(#4e0d06,rgba(0, 33, 71, 0.69));
	background:-moz-linear-gradient(#4e0d06,rgba(0, 33, 71, 0.69));
	background:-ms-linear-gradient(#4e0d06,rgba(0, 33, 71, 0.69));
    background: linear-gradient(#4e0d06,rgba(0, 33, 71, 0.69));
}
.team-w3l h3.w3l-title {
    color: #fff;
}
.about_img {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.about-poleft img {
    width: 100%;
    height: auto;
}
.about_img h5 {
    position: absolute;
    line-height: 2.4;
    bottom: 0%;
	height: 70px;
    left: 0;
    opacity: 1;
    width: 100%;
    color: #000;
    background: #fff;
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: 0.35s all ease;
    transition: 0.35s all ease;
    text-align: center;
    font-size: 2em;
}
.about_img img + h5 {
    margin-top: 0;
	margin-bottom:0;
}
.about_opa {
    color: #fff;
    padding: 50px 50px 0;
    opacity: 0;
    background: rgba(51, 51, 51, 0.8);
    position: absolute;
    left: 0;
    top: 100%;
    right: 0;
    bottom: 0;
    -webkit-transition: 0.35s all ease;
    transition: 0.35s all ease;
}
.about_img:hover .about_opa {
    opacity: 1;
    top: 70px;
}
.about_img:hover h5 {
    top: 0;
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background: #ffb71c;
    color: #fff;
}
.about_opa p {
    line-height: 2.2em;
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 30px;
    color: #e4e0e0;
}