.w3l_about_bottom_right p{
	margin:1em 0 3em;
	color:#555;
	line-height:2em;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0px!important;
}
h3.tittle.why {
    text-align: left;
}
.w3layouts_header_right {
    float: right;
    position: relative;
    width: 18%;
    margin-left: .5em;
}
.header {
	padding: 0.6em 3em;
    background: #1d1d1d;
}
.w3layouts_header_right input[type="search"] {
    width: 70%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
    border: none;
    background: #fff;
    color: #999;
    padding: 8px 15px 8px 15px;
    font-size: 1em;
    float: left;
    letter-spacing: 1px;
}
.w3layouts_header_right input[type="submit"] {
    outline: none;
    border: none;
    background: #ffb71c url(../images/search.png)no-repeat 12px 5px;
    color: #fff;
    padding: 8px 0;
    width: 20%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
}
/*--model-about--*/
.agileits-main ul {
    float: left;
    width: 50%;
}
li.text {
    color: #000;
    text-align: left;
    letter-spacing: 1px;
    font-size: 1em;
    text-transform: capitalize;
    list-style: none;
}
li.agileits-main {
    list-style: none;
	position: relative;
}
li.agileits-main i {
    font-size: 1.2em;
    color: #fff;
    position: absolute;
    top: 31%;
    left: 4%;
}
.agile-submit {
    text-align: center;
}
.agile-submit input[type="submit"] {
    padding: .8em 4em;
    text-transform: uppercase;
    outline: none;
    border: none;
    margin:3em 0 0;
    font-size: 1em;
    letter-spacing: 1px;
    color: #fff;
    cursor: pointer;
    background: #ffb71c;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agile-submit input[type="submit"]:hover {
    background: #000;
    color: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.clo1 {
    margin-top:0px !important;
}
.header-w3l h2 {
    font-size: 2.8em;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}
.header-w3l h4 {
    font-size: 1.6em;
    color: #ffb71c;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding:1em 0 2.5em;
}