html, body{
	font-family: 'Roboto', sans-serif;
    font-size: 100%;
  	overflow-x: hidden;
	background:#FFFFFF;
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	background:#4e0d06!mportant;
}
a:focus, a:active, a:hover ,a.dropdown-toggle{
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color:#4e0d06;
	text-decoration:none;
}
a {
    background-color:none;
}
body p{
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5 {
    	font-family: 'Roboto', sans-serif;
}
a {
  color: #ffb71c;
  font-weight:400;
}
a:hover { transition: all 200ms ease-in-out; }

.page-container {
  min-width: 1260px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0px auto;
}
.left-content {
    float: right;
        width: 87%;
}
.page-container.sidebar-collapsed {
  transition: all 100ms linear;
  transition-delay: 300ms;

}

.page-container.sidebar-collapsed .left-content {

   float: right;
   width: 97%;
}
.page-container.sidebar-collapsed-back {
    transition: all 100ms linear;
}
.page-container.sidebar-collapsed-back .left-content {
  transition: all 100ms linear;
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
	float: right;
    width:87%;
}
.page-container.sidebar-collapsed .sidebar-menu {
  width: 65px;
  transition: all 100ms ease-in-out;
  transition-delay: 300ms;
}

.page-container.sidebar-collapsed-back .sidebar-menu {
  width: 230px;
  transition: all 100ms ease-in-out;
}

.page-container.sidebar-collapsed .sidebar-icon {
   transform: rotate(90deg);
   transition: all 300ms ease-in-out;
   margin-right: 0.8em;
       margin-top: -8px;
	   color: #fff;
    background: #ffb71c;
    border-radius: 0;

}
#menu li {
  position: relative;
  margin: 0;
      border-bottom: 1px ridge #4e0d06;
    padding: 0;
  padding: 0;
}

#menu li ul {
  opacity: 0;
  height: 0px;
}

#menu li a {
 font-style: normal;
    font-weight: 400;
    position: relative;
    display: block;
    padding: 13px 20px;
    color: #fff;
    white-space: nowrap;
    z-index: 2;
    background-color:#4e0d06;
    font-size:0.9em;
    font-family: 'Roboto', sans-serif;
	border:none;
	    border-left: 4px solid #4e0d06;
}

#menu li a:hover {
  color: #ffffff;
  background-color:#4e0d06;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
   border-left: 4px solid  #ffb71c;
}

#menu li.active > a {
  background-color: #2b303a;
  color: #ffffff;
}

#menu ul li {background-color: #ffb71c; }

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu li ul {
  position: absolute;
  visibility: hidden;
  left: 100%;
  top: -1px;
  background-color: #2b303a;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.1s linear;
  border-top: 1px solid rgba(69, 74, 84, 0.7);
}

#menu li:hover > ul {
  visibility: visible;
  opacity: 1;
}
li#menu-mensagens,li#menu-arquivos {
background-color: #ffb71c!important;
}
#menu li li ul {
  right: 100%;
  visibility: hidden;
  top: -1px;
  opacity: 0;
  transition: opacity 0.1s linear;
}

#menu li li:hover ul {
  visibility: visible;
  opacity: 1;
}

#menu .fa { margin-right: 5px; }

.logo {
    width: 100%;
       padding: 14px 14px;
    box-sizing: border-box;
}

.sidebar-icon {
       margin-top: -2px;
    border: 1px solid  #ffb71c;
    text-align: right;
    line-height: 1;
    font-size: 19px;
    padding: 8px 10px;
    border-radius: 0px;
    color: #fff;
    background: #ffb71c;
    float: right;
}
ul#menu i {
    font-size: 1.1em;
    margin-right: 6px;
	    width: 10%;
}
ul#menu-academico-sub {
    z-index: 999;
}
li#menu-academico{
 z-index: 999;
}
/*#logo
{
    width: 150px;
    height: 64px;
    vertical-align: middle;
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
}*/

.fa-html5 {
  color: #fff;
  margin-left: 50px;
}
.menu {
    text-align: left;
}
.agileits-main ul {
  float: left;
  width: 50%;
}
li.text {
  color: #000;
  text-align: left;
  letter-spacing: 1px;
  font-size: 1em;
  text-transform: capitalize;
  list-style: none;
}
li.agileits-main {
  list-style: none;
position: relative;
}
li.agileits-main i {
  font-size: 1.2em;
  color: #fff;
  position: absolute;
  top: 31%;
  left: 4%;
}
.agile-submit {
  text-align: center;
}
.agile-submit input[type="submit"] {
  padding: .8em 4em;
  text-transform: uppercase;
  outline: none;
  border: none;
  margin:3em 0 0;
  font-size: 1em;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
  background: #ffb71c;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.agile-submit input[type="submit"]:hover {
  background: #000;
  color: #fff;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.clo1 {
  margin-top:0px !important;
}
.header-w3l h2 {
  font-size: 2.8em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
} 
.down ul li {
  list-style: none;
  display: inline-block;
margin: 0 10px;
}
span.name-caret {
  margin: 10px 0px 3px 0px;
  font-size: 1.4em;
  color:  #ffb71c;
  display: block;
  text-align: center;
  font-weight: 400;
}
.down  a img {
       border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 3px solid #4e0d06;
}

.down{
padding: 26px 0 30px;
  text-align: center;
    background: #fff;
}
.dropdown-menu li a i{
  font-size: 14px;
  margin-right: 6%;	
    color: #879498;
}
.down p {
  font-size: 0.9em;
  color: #777;
  padding: 5px 8px;
}
.down ul {
padding:0;
margin:0;
}
.down ul li a {
  color: #fff;
  background: none;
    text-decoration: none;
}
.down i {
  font-size: 1.2em;
color: #ffb71c;
vertical-align: middle;
}
i.lnr.lnr-user {
  font-size: 1.07em;
}
i.lnr.lnr-power-switch {
  font-size: 1.3em;
}
a.tooltips {
position: relative;
display: inline;
}
a.tooltips span {
   position: absolute;
  width: 65px;
  color: #FFFFFF;
  background: #4e0d06;
  height:28px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  font-size: 0.8em;
}
a.tooltips span:after {
content: '';
position: absolute;
bottom: 100%;
left: 50%;
margin-left: -8px;
width: 0; height: 0;
border-bottom: 8px solid #4e0d06;
border-right: 8px solid transparent;
border-left: 8px solid transparent;
}
a:hover.tooltips span {
visibility: visible;
opacity: 0.8;
top: 30px;
left: 50%;
margin-left: -38px;
z-index: 999;
}
/*--//down--*/
/*--/top_header--*/
span#logo h1 {
       font-size: 2em;
  color: #fff;
  margin: 0;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 300;
}
.srch button{
cursor: pointer;
  background: url('../images/search.png') no-repeat 26px 19px  #ffb71c;
  width: 80px;
  height:66px;
  display: block;
  border: none;
  outline: none;
  position: absolute;
  top: 0px;
  left: 21%;
}
.main-search{
     float: right;
  background: #4e0d06;
  width: 20%;
  height: 60px;
  padding: 15px 15px 69px 17px;
  border: 1px solid #C6CCD6;
  position: absolute;
  z-index:99999;
      top: 75px;
  left: 248px;
}
.main-search:after {
content: '';
  position: absolute;
  left: 114px;
  top: -10px;
  border-left: 12px solid rgba(0, 0, 0, 0);
  border-right: 12px solid rgba(0, 0, 0, 0);
  border-bottom: 12px solid #4e0d06;
}
.main-search form{
position:relative;
background:#fff;
}
.main-search input[type="text"],.main-search input[type="submit"]{
display:inline-block;
border:none;
color:#5d5d5d;
outline:none;
width:inherit;
padding:inherit;
font-size:14px;
margin:inherit;
-webkit-appearance: none;
margin:0;
} 