html, body{
	font-family: 'Roboto', sans-serif;
    font-size: 100%;
  	overflow-x: hidden;
	background:#FFFFFF;
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	background:#4e0d06!mportant;
}
a:focus, a:active, a:hover ,a.dropdown-toggle{
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color:#4e0d06;
	text-decoration:none;
}
a {
    background-color:none;
}
body p{
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5 {
    	font-family: 'Roboto', sans-serif;
}
a {
  color: #ffb71c;
  font-weight:400;
}